<!DOCTYPE html>
<html>
<head>
    <title>Activities</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <a id="back" href="/">&lt;-- Back</a>

    <section class="activities-hero">
        <h1>SilentGuardian Activities</h1>
        <p>Explore, learn, create, and spread awareness.</p>
    </section>


    <section class="activities-grid">

        <div class="activity-card">
            <div class="activity-icon">📱</div>

            <h2>Social Media Posters</h2>

            <p>
                Explore SilentGuardian awareness posters
                designed to spread the message of elderly safety.
            </p>

            <a href="/posters">Explore Posters →</a>
        </div>


        <div class="activity-card">
            <div class="activity-icon">🛍️</div>

            <h2>FOR MOBILE USERS: Download ntfy </h2>

            <p>
                If you have SilentGuardian then please download this 
                app on your mobile for mobile notifications.
            </p>

            <a href="https://docs.ntfy.sh/subscribe/phone/" target="_blank">
                DOWNLOAD NTFY
            </a>

        </div>


        <div class="activity-card">
            <div class="activity-icon">🎮</div>

            <h2>SilentGuardian Simulator</h2>

            <p>
                Take part in simple interactive activities
                designed around awareness and safety.
            </p>

            <a href="/game">Play the Simulator →</a>
        </div>

    </section>

</body>
</html>