<!DOCTYPE html>
<html>
<head> <title> SilentGuardian </title>
       <link
       rel="stylesheet"
       href="{{ url_for('static', filename='styles.css') }}"
     >
</head>
<body> 

   <nav class="navbar">

     <div class="logo">
        🛡️ SilentGuardian
     </div>

     <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/models">Models</a>
        <a href="/purchase">Purchase</a>
        <a href="/activities">Activities</a>
        <a href="/reviews">Reviews</a>
     </div>

    </nav>
    
      <section class="hero">

    <div class="hero-content">
        <h1>SilentGuardian</h1>

        <h2>
            Take care of the ones who took care of us.
        </h2>
    </div>

    </section>
       <p> SilentGuardian is a campaign built to raise awareness about situations where people may silently need help. It encourages us to pay attention, understand warning signs, and care for those around us.</p>
       <p>Through awareness, interactive activities, and simple actions, SilentGuardian aims to turn people from silent observers into responsible helpers. Sometimes, noticing and responding at the right moment can make a real difference.</p>
       <a href="/action">TAKE ACTION</a>
       <section><h2>Why SilentGuardian?</h2>
       <p>Sometimes, the people who need help may not be able to ask for it. SilentGuardian encourages us to notice the signs, stay aware, and take action when it matters.</p></section>
</body>
</html>